h1{
	font-size: 40px;
}

.success{
	color: #006400;
}

.inline{
	display: inline-block;
}

.title{
	text-align: center;
	max-width: 400px;	
	margin: 15px auto 15px;
	border-bottom: 1px solid rgb(175, 175, 175);
}
/*0284a0ad08a5879f64099215f5577efbfe596b8a99b8386676c2c332037a0dd2*/
/*		grid		*/
.grid-container{
	display: grid;
	max-width: 1000px;
	margin: auto;
	grid-gap: 10px;
	justify-content: center;
	grid-template-areas:
			'status supply'
			'transfer balance';
}

.grid-status{
	grid-area: 'status';
}

.grid-supply{
	grid-area: 'supply';
}

.grid-transfer{
	grid-area: 'transfer';
}

.grid-balance{
	grid-area: 'balance';
}